<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1>Recipe Book</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>
    <h2>{% block page_heading %}{% endblock %}</h2>
    <div>
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
